<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CoolNotes.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0FAAF0AC1E897D2800F61011</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FAAF0C31E897D2800F61011</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FAAF0CE1E897D2800F61011</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
